<div class="main">

  <nav class="menu">

    <ul class="menu__list">
      <li class="menu__item_left"><a href="#0" class="menu__link text-underlined">Home</a></li>
      <li class="menu__item_left"><a href="#0" class="menu__link text-underlined">All Books</a></li>
      <li class="menu__item_right"><a href="#0" class="menu__link text-underlined">Search</a></li>
    </ul>

  </nav>

</div>