<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <title>LibroTecha</title>
</head>

<body>
    <h1>ERRORS</h1>
    <p>
        You have landed in the errors page.<br>
        There are a few possible reasons for this. See below.
    </p>
    <br>
    <br>

    <p><strong>ERROR:</strong> <%= errmsg %> </p>

    <form id="form" action="/login">
        <input id="inputSubmit" type="submit" value="LOGIN">
    </form>

</body>
</html>