<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
    <%- include('../partials/navBar'); %> 
    <title>LibraTecho</title>
</head>

<body>
    <h1>Home</h1>
    <p>
        This is the home page.<br>
        Current user: <%= currUsername %> 
    </p>

    <form id="form" action="/allBooks">
        <input id="inputSubmit" type="submit" value="GO TO ALL BOOKS">
    </form>

</body>
</html>