<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/signUp.css">
    <%- include('../partials/navBar'); %> 
    <title>LibroTecha</title>
</head>

<body>
    <h1>Home</h1>
    <div id="mainp">
        <p style="text-align: justify;">
            LibroTecha is a web application that was built
            to help people find books fast. Users can search
            for books in many different ways and also start a favorite book list.<br><br>
            
            Simply explore the top navigation bar to start
            learing how to use LibroTecha today. It's easy!
        </p>
    </div>

</body>
</html>