<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <title>LibroTecha</title>
</head>


<body>
    <h1>Welcome to LibroTecha</h1>
    <p>Please login to continue to the site.</p>

    <form id="form" action="/verifyCreds" method="POST">
        <input id="textfield" name="email" type="email" id="email" placeholder="email" required>
        <br>
        <input id="textfield" name="password" type="password" id="password" placeholder="password" required>
        <br>
        <input id="inputSubmit" type="submit" value="LOGIN">
    </form>

    <form id="form" action="/signUp">
        <input id="inputSubmit" type="submit" value="SIGN UP">
    </form>


</body>
</html>